* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #2e2e2e;
    background-image: url("https://www.transparenttextures.com/patterns/carbon-fibre.png");
}

/* pista */
.road {
    position: relative;
    background-image: url(../img/fondo.png);
    background-size: 40%;
    background-repeat: repeat;
    padding-left: 70px;
    padding-right: 70px;
    width: min(110vw, 110vh);
    height: calc(min(110vw, 110vh) - 140px);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    border-radius: 20px;
}

.road::before {
    content: '';
    position: absolute;
    z-index: 80;
    width: 100%;
    height: 99%;
    background-color: #ffffff0c;
    background-image: url("https://www.transparenttextures.com/patterns/subtle-dots.png");
    border-radius: 15px;
    border: 8px solid #2e2e2e;
    border-bottom: 16px solid #2e2e2e;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Corredor y jugador */
.corredor {
    position: relative;
    z-index: 25;
    object-fit: contain;
    width: calc(100%/2);
    height: 100%;
}

.corredor-derecha {
    transform: rotate(-90deg);  
}

.corredor-izquierda {
    transform: rotate(90deg);
}

.corredor-abajo {
    transform: rotate(180deg);
}

.corredor-arriba {
    transform: rotate(0deg);
}

#jugador {
    left: 0%;
    top: 0%;
}

/* diseño de pistas */

.recto-vertical0, 
.recto-vertical1, 
.recto-vertical2, 
.recto-vertical3, 
.recto-horizontal0, 
.recto-horizontal1, 
.recto-horizontal2, 
.recto-horizontal3,
.curva-abajo-derecha0,
.curva-abajo-derecha1,
.curva-abajo-derecha2,
.curva-abajo-derecha3,
.curva-abajo-izquierda0,
.curva-abajo-izquierda1,
.curva-abajo-izquierda2,
.curva-abajo-izquierda3,
.curva-arriba-derecha0,
.curva-arriba-derecha1,
.curva-arriba-derecha2,
.curva-arriba-derecha3,
.curva-arriba-izquierda0,
.curva-arriba-izquierda1,
.curva-arriba-izquierda2,
.curva-arriba-izquierda3,
.comienzo-vertical, 
.comienzo-horizontal, 
.deco0, 
.deco1, 
.deco2, 
.deco3, 
.deco4, 
.deco5, 
.deco6 {
    display: flex;
    justify-content: center;
}

/* Recto en vertical */
.recto-vertical0 {
    z-index: 0;
    position: relative;
    background-image: url(../img/pistas/recto.png);
    background-position: center;
    background-size: contain;
}

.recto-vertical0::before {
    content: '';
    position: absolute;
    z-index: 38;
    background-image: url(../img/deco/others/deco2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 130%;
    width: 25%;
    height: 55%;

    top: 40%;
    left: -7%;
    transform: translate(-50%, -50%);
}

.recto-vertical0::after {
    content: '';
    position: absolute;
    z-index: 39;
    background-image: url(../img/deco/others/deco3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 130%;
    width: 25%;
    height: 55%;

    top: 60%;
    left: 107%;
    transform: translate(-50%, -50%);
}

.recto-vertical1 {
    position: relative;
    z-index: 1;
    background-image: url(../img/pistas/recto.png);
    background-position: center;
    background-size: contain;
}

.recto-vertical1::before {
    content: '';
    position: absolute;
    z-index: 40;
    background-image: url(../img/deco/others/deco5.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 130%;
    width: 25%;
    height: 55%;

    top: 30%;
    left: -7%;
    transform: translate(-50%, -50%);
}

.recto-vertical1::after {
    content: '';
    position: absolute;
    z-index: 41;
    background-image: url(../img/deco/others/deco1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 130%;
    width: 25%;
    height: 55%;

    top: 70%;
    left: 107%;
    transform: translate(-50%, -50%);
}

.recto-vertical2 {
    position: relative;
    z-index: 2;
    background-image: url(../img/pistas/recto.png);
    background-position: center;
    background-size: contain;
}

.recto-vertical2::before {
    content: '';
    position: absolute;
    z-index: 42;
    background-image: url(../img/deco/others/deco4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 130%;
    width: 25%;
    height: 55%;

    top: 55%;
    left: -7%;
    transform: translate(-50%, -50%);
}

.recto-vertical2::after {
    content: '';
    position: absolute;
    z-index: 43;
    background-image: url(../img/deco/others/deco1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 130%;
    width: 25%;
    height: 55%;

    top: 45%;
    left: 107%;
    transform: translate(-50%, -50%);
}

.recto-vertical3 {
    position: relative;
    z-index: 3;
    background-image: url(../img/pistas/recto.png);
    background-position: center;
    background-size: contain;
}

.recto-vertical3::before {
    content: '';
    position: absolute;
    z-index: 44;
    background-image: url(../img/deco/others/deco6.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 130%;
    width: 25%;
    height: 55%;

    top: 55%;
    left: -7%;
    transform: translate(-50%, -50%);
}

.recto-vertical3::after {
    content: '';
    position: absolute;
    z-index: 45;
    background-image: url(../img/deco/others/deco4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 130%;
    width: 25%;
    height: 55%;

    top: 45%;
    left: 107%;
    transform: translate(-50%, -50%);
}

/* Recto en horizontal */
.recto-horizontal0 {
    z-index: 4;
    position: relative;
    background-image: url(../img/pistas/recto.png);
    background-position: center;
    background-size: contain;
    transform: rotate(90deg)
}

/* .recto-horizontal0::before {
    content: '';
    position: absolute;
    z-index: 0;
    background-image: url(../img/deco/others/deco2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 130%;
    width: 25%;
    height: 55%;

    top: 45%;
    left: -7%;
    transform: translate(-50%, -50%);
} */

.recto-horizontal1 {
    position: relative;
    z-index: 5;
    background-image: url(../img/pistas/recto.png);
    background-position: center;
    background-size: contain;
    transform: rotate(90deg)
}

/* .recto-horizontal1::before {
    content: '';
    position: absolute;
    z-index: 0;
    background-image: url(../img/deco/others/deco4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 130%;
    width: 25%;
    height: 55%;

    top: 50%;
    left: -7%;
    transform: translate(-50%, -50%);
} */

.recto-horizontal2 {
    position: relative;
    z-index: 6;
    background-image: url(../img/pistas/recto.png);
    background-position: center;
    background-size: contain;
    transform: rotate(90deg)
}

/* .recto-horizontal3::before {
    content: '';
    position: absolute;
    z-index: 0;
    background-image: url(../img/deco/others/deco1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 130%;
    width: 25%;
    height: 55%;

    top: 55%;
    left: -7%;
    transform: translate(-50%, -50%);
} */

.recto-horizontal3 {
    position: relative;
    z-index: 7;
    background-image: url(../img/pistas/recto.png);
    background-position: center;
    background-size: contain;
    transform: rotate(90deg)
}

/* .recto-horizontal3::before {
    content: '';
    position: absolute;
    z-index: 0;
    background-image: url(../img/deco/others/deco6.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 130%;
    width: 25%;
    height: 55%;

    top: 60%;
    left: -7%;
    transform: translate(-50%, -50%);
} */

/* Curva de arriba hacia a la izquierda */
.curva-arriba-izquierda0 {
    position: relative;
    z-index: 8;
    background-image: url(../img/pistas/curva.png);
    background-position: center;
    background-size: contain;
    transform: scaleX(-1);
}

.curva-arriba-izquierda0::before {
    content: '';
    position: absolute;
    z-index: 46;
    background-image: url(../img/deco/others/deco3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 130%;
    width: 25%;
    height: 55%;

    top: 45%;
    left: -7%;
    transform: translate(-50%, -50%);
}

.curva-arriba-izquierda1 {
    position: relative;
    z-index: 9;
    background-image: url(../img/pistas/curva.png);
    background-position: center;
    background-size: contain;
    transform: scaleX(-1);
}

.curva-arriba-izquierda1::before {
    content: '';
    position: absolute;
    z-index: 47;
    background-image: url(../img/deco/others/deco5.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 130%;
    width: 25%;
    height: 55%;

    top: 50%;
    left: -7%;
    transform: translate(-50%, -50%);
}

.curva-arriba-izquierda2 {
    position: relative;
    z-index: 10;
    background-image: url(../img/pistas/curva.png);
    background-position: center;
    background-size: contain;
    transform: scaleX(-1);
}

.curva-arriba-izquierda2::before {
    content: '';
    position: absolute;
    z-index: 48;
    background-image: url(../img/deco/others/deco2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 130%;
    width: 25%;
    height: 55%;

    top: 55%;
    left: -7%;
    transform: translate(-50%, -50%);
}

.curva-arriba-izquierda3 {
    position: relative;
    z-index: 11;
    background-image: url(../img/pistas/curva.png);
    background-position: center;
    background-size: contain;
    transform: scaleX(-1);
}

.curva-arriba-izquierda3::before {
    content: '';
    position: absolute;
    z-index: 49;
    background-image: url(../img/deco/others/deco4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 130%;
    width: 25%;
    height: 55%;

    top: 60%;
    left: -7%;
    transform: translate(-50%, -50%);
}

.curva-arriba-izquierda0 img,
.curva-arriba-izquierda1 img,
.curva-arriba-izquierda2 img,
.curva-arriba-izquierda3 img {
    transform: scaleX(-1);
}

/* Curva de arriba hacia a la derecha */
.curva-arriba-derecha0 {
    position: relative;
    z-index: 12;
    background-image: url(../img/pistas/curva.png);
    background-position: center;
    background-size: contain;
}

.curva-arriba-derecha0::before {
    content: '';
    position: absolute;
    z-index: 50;
    background-image: url(../img/deco/others/deco4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 130%;
    width: 25%;
    height: 55%;

    top: 45%;
    left: -7%;
    transform: translate(-50%, -50%);
}

.curva-arriba-derecha1 {
    position: relative;
    z-index: 13;
    background-image: url(../img/pistas/curva.png);
    background-position: center;
    background-size: contain;
}

.curva-arriba-derecha1::before {
    content: '';
    position: absolute;
    z-index: 51;
    background-image: url(../img/deco/others/deco5.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 130%;
    width: 25%;
    height: 55%;

    top: 50%;
    left: -7%;
    transform: translate(-50%, -50%);
}

.curva-arriba-derecha2 {
    position: relative;
    z-index: 14;
    background-image: url(../img/pistas/curva.png);
    background-position: center;
    background-size: contain;
}

.curva-arriba-derecha2::before {
    content: '';
    position: absolute;
    z-index: 52;
    background-image: url(../img/deco/others/deco2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 130%;
    width: 25%;
    height: 55%;

    top: 55%;
    left: -7%;
    transform: translate(-50%, -50%);
}

.curva-arriba-derecha3 {
    position: relative;
    z-index: 15;
    background-image: url(../img/pistas/curva.png);
    background-position: center;
    background-size: contain;
}

.curva-arriba-derecha3::before {
    content: '';
    position: absolute;
    z-index: 53;
    background-image: url(../img/deco/others/deco1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 130%;
    width: 25%;
    height: 55%;

    top: 60%;
    left: -7%;
    transform: translate(-50%, -50%);
}

/* Curva de abajo hacia a la izquierda */
.curva-abajo-izquierda0 {
    position: relative;
    z-index: 16;
    background-image: url(../img/pistas/curva.png);
    background-position: center;
    background-size: contain;
    transform: scaleX(-1) scaleY(-1);
}

.curva-abajo-izquierda0::before {
    content: '';
    position: absolute;
    z-index: 54;
    background-image: url(../img/deco/others/deco6.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 130%;
    width: 25%;
    height: 55%;

    top: 45%;
    left: -7%;
    transform: translate(-50%, -50%);
}

.curva-abajo-izquierda1 {
    position: relative;
    z-index: 17;
    background-image: url(../img/pistas/curva.png);
    background-position: center;
    background-size: contain;
    transform: scaleX(-1) scaleY(-1);
}

.curva-abajo-izquierda1::before {
    content: '';
    position: absolute;
    z-index: 55;
    background-image: url(../img/deco/others/deco1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 130%;
    width: 25%;
    height: 55%;

    top: 50%;
    left: -7%;
    transform: translate(-50%, -50%);
}

.curva-abajo-izquierda2 {
    position: relative;
    z-index: 18;
    background-image: url(../img/pistas/curva.png);
    background-position: center;
    background-size: contain;
    transform: scaleX(-1) scaleY(-1);
}

.curva-abajo-izquierda2::before {
    content: '';
    position: absolute;
    z-index: 56;
    background-image: url(../img/deco/others/deco3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 130%;
    width: 25%;
    height: 55%;

    top: 55%;
    left: -7%;
    transform: translate(-50%, -50%);
}

.curva-abajo-izquierda3 {
    position: relative;
    z-index: 19;
    background-image: url(../img/pistas/curva.png);
    background-position: center;
    background-size: contain;
    transform: scaleX(-1) scaleY(-1);
}

.curva-abajo-izquierda3::before {
    content: '';
    position: absolute;
    z-index: 57;
    background-image: url(../img/deco/others/deco2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 130%;
    width: 25%;
    height: 55%;

    top: 60%;
    left: -7%;
    transform: translate(-50%, -50%);
}

.curva-abajo-izquierda0 img, 
.curva-abajo-izquierda1 img, 
.curva-abajo-izquierda2 img, 
.curva-abajo-izquierda3 img {
    transform: scaleX(-1) scaleY(-1);
}

/* Curva de arriba hacia a la derecha */
.curva-abajo-derecha0 {
    position: relative;
    z-index: 20;
    background-image: url(../img/pistas/curva.png);
    background-position: center;
    background-size: contain;
    transform: scaleY(-1);
}

.curva-abajo-derecha0::before {
    content: '';
    position: absolute;
    z-index: 58;
    background-image: url(../img/deco/others/deco5.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 130%;
    width: 25%;
    height: 55%;

    top: 45%;
    left: -7%;
    transform: translate(-50%, -50%);
}

.curva-abajo-derecha1 {
    position: relative;
    z-index: 21;
    background-image: url(../img/pistas/curva.png);
    background-position: center;
    background-size: contain;
    transform: scaleY(-1);
}

.curva-abajo-derecha1::before {
    content: '';
    position: absolute;
    z-index: 59;
    background-image: url(../img/deco/others/deco4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 130%;
    width: 25%;
    height: 55%;

    top: 50%;
    left: -7%;
    transform: translate(-50%, -50%);
}

.curva-abajo-derecha2 {
    position: relative;
    z-index: 22;
    background-image: url(../img/pistas/curva.png);
    background-position: center;
    background-size: contain;
    transform: scaleY(-1);
}

.curva-abajo-derecha2::before {
    content: '';
    position: absolute;
    z-index: 60;
    background-image: url(../img/deco/others/deco6.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 130%;
    width: 25%;
    height: 55%;

    top: 55%;
    left: -7%;
    transform: translate(-50%, -50%);
}

.curva-abajo-derecha3 {
    position: relative;
    z-index: 23;
    background-image: url(../img/pistas/curva.png);
    background-position: center;
    background-size: contain;
    transform: scaleY(-1);
}

.curva-abajo-derecha3::before {
    content: '';
    position: absolute;
    z-index: 61;
    background-image: url(../img/deco/others/deco1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 130%;
    width: 25%;
    height: 55%;

    top: 60%;
    left: -7%;
    transform: translate(-50%, -50%);
}

.curva-abajo-derecha0 img, 
.curva-abajo-derecha1 img, 
.curva-abajo-derecha2 img, 
.curva-abajo-derecha3 img {
    transform: scaleY(-1);
}

/* comienzos */
.comienzo-vertical {
    position: relative;
    z-index: 24;
    background-image: url(../img/pistas/comienzo.png);
    background-position: center;
    background-size: contain;
}

.comienzo-vertical::before {
    content: '';
    position: absolute;
    z-index: 62;
    background-image: url(../img/deco/others/deco5.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 130%;
    width: 25%;
    height: 55%;

    top: 50%;
    left: -7%;
    transform: translate(-50%, -50%);
}

.comienzo-vertical::after {
    content: '';
    position: absolute;
    z-index: 63;
    background-image: url(../img/deco/others/deco2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 130%;
    width: 25%;
    height: 55%;

    top: 60%;
    left: 107%;
    transform: translate(-50%, -50%);
}

/* decoraciones */
.deco0 {
    position: relative;
    z-index: 64;
    background-image: url(../img/deco/arboles/arbol1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
}

.deco0::before {
    content: '';
    z-index: 27;
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translate(-50%, 20%);
    width: 30%;
    height: 30%;
    background-image: url(../img/deco/others/flor.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
}

.deco0::after {
    content: '';
    z-index: 28;
    position: absolute;
    left: 0%;
    top: 100%;
    transform: translate(10%, -50%);
    width: 30%;
    height: 30%;
    background-image: url(../img/deco/others/flor.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
}

.deco1 {
    position: relative;
    z-index: 65;
    background-image: url(../img/deco/arboles/arbol2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
}

.deco1::before {
    content: '';
    position: absolute;
    z-index: 29;
    left: 100%;
    top: 0%;
    transform: translate(-100%, 0%);
    width: 30%;
    height: 30%;
    background-image: url(../img/deco/others/flor.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
}

.deco2 {
    position: relative;
    z-index: 66;
    background-image: url(../img/deco/arboles/arbol3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
}

.deco2::before {
    content: '';
    position: absolute;
    z-index: 30;
    left: 80%;
    top: 0%;
    transform: translate(-80%, 10%);
    width: 30%;
    height: 30%;
    background-image: url(../img/deco/others/flor.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
}

.deco3 {
    position: relative;
    z-index: 67;
    background-image: url(../img/deco/arboles/arbol4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
}

.deco3::before {
    content: '';
    position: absolute;
    z-index: 31;
    left: 30%;
    top: 100%;
    transform: translate(-30%, -100%);
    width: 30%;
    height: 30%;
    background-image: url(../img/deco/others/flor.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
}

.deco4 {
    position: relative;
    z-index: 68;
    background-image: url(../img/deco/arboles/arbol5.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
}

.deco4::before {
    content: '';
    position: absolute;
    z-index: 32;
    left: 0%;
    top: 0%;
    transform: translate(5%, 30%);
    width: 30%;
    height: 30%;
    background-image: url(../img/deco/others/flor.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
}

.deco4::after {
    content: '';
    position: absolute;
    z-index: 33;
    left: 100%;
    top: 65%;
    transform: translate(-110%, -60%);
    width: 30%;
    height: 30%;
    background-image: url(../img/deco/others/flor.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
}

.deco5 {
    position: relative;
    z-index: 69;
    background-image: url(../img/deco/arboles/arbol6.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
}

.deco5::before {
    content: '';
    position: absolute;
    z-index: 34;
    left: 100%;
    top: 0%;
    transform: translate(-130%, 10%);
    width: 30%;
    height: 30%;
    background-image: url(../img/deco/others/flor.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
}

.deco5::after {
    content: '';
    position: absolute;
    z-index: 35;
    left: 0%;
    top: 100%;
    transform: translate(10%, -150%);
    width: 30%;
    height: 30%;
    background-image: url(../img/deco/others/flor.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
}

.deco6 {
    position: relative;
    z-index: 70;
    background-image: url(../img/deco/arboles/arbol7.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
}

.deco6::before {
    content: '';
    z-index: 36;
    position: absolute;
    left: 0%;
    top: 0%;
    transform: translate(5%, 10%);
    width: 30%;
    height: 30%;
    background-image: url(../img/deco/others/flor.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
}

.deco6::after {
    content: '';
    position: absolute;
    z-index: 37;
    left: 100%;
    top: 100%;
    transform: translate(-110%, -110%);
    width: 30%;
    height: 30%;
    background-image: url(../img/deco/others/flor.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
}